@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    background-color: #d9dcd6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: "Novs Square", cursive;
}

.h1 {
    font-size: 75px;
    margin-top: 20px;
    margin-left: auto;
    padding: 10px 0 0 950px;
    text-align: center justify;
}

#nav-timer {
    font-family: monospace;
    font-size: 20px;
    margin: auto;
}

#timer {
    font-family: monospace;
    font-size: 20px;
}

#span-timer {
    font-family: monospace;
    font-size: 20px;
}

.h2 {
    font-size: 42px;
    font-family: sans-serif;
    margin-bottom: 4rem;
}

.hide {
    display: none;
}

#section-start-game {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2px;
}

#btn-start-game {
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
    margin: 10px 8px 20px 110px;
    text-decoration: none;
    color: antiquewhite;
    background-color: sienna;
    border-radius: 6px;
    width: 91px;
    height: 51px;
}

#btn-start-game:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 darkred;
    transition: transform 150ms;
    transform: scale(1.05);
}

#selction-questions {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
}

#question-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
    margin: auto;
    padding: 20px 0px 50px 55px;
}

.answer-choices {
    display: flex;
    margin: 5px 800px 5px 1045px;
    width: 200px;
    color: darksalmon;
    background-color: rgba(228, 231, 46, 0.904);
    border-radius: 4px;
}

.answer-choices:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 darksalmon;
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    font-family: sans-serif;
    font-size: 30px;
    margin: 10px 10px 5px 10px;
    padding: 0px 6px 8px 2px;
}

.choice-text {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 10px 10px 10px 2px;
    width: auto;
}

#correct-answer {
    background-color: green;
}

#section-end-game {
    font-family: sans-serif;
    font-size: 25px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 200px -200px 200px 800px;
    padding: 2px;
}

.high-score {
    font-family: sans-serif;
    font-size: 25px;
    margin: auto;
}

#span-high-score {
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#submit-btn {
    margin-top: 6px;
    margin-left: 12px;
    padding: 5px 0px 5px 0px;
    width: 150px;
    height: 70px;
    margin-bottom: 9px;
    color: antiquewhite;
    background-color: sienna;
    border-radius: 6px;
}

#submit-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 darkred;
    transition: transform 150ms;
    transform: scale(1.05);
}

.placeholder {
    width: 200px;
    height: 70px;
    margin: 25px;
    font-size: 35px;

    border-radius: 6px;
    
}

.fa-crown {
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
}