@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    background-color: #d9dcd6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: "Novs Square", cursive;
}


.h1 {
    font-size: 5.5rem;
    margin-left: 0rem;
    text-align: center justify;
}

.h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    font-family: sans-serif;
    padding: 1rem;
    width: auto;
    text-align: center;
    margin-left: -10px;
    margin-bottom: 1rem;
    text-decoration: none;
    color: sandybrown;
    background-color: saddlebrown;
    border-radius: 6px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 darkred;
    transition: transform 150ms;
    transform: scale(1.05);
}

#score-btn {
    margin-top: 6px;
    margin-left: -10px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 9px;
    width: auto
    color; saddlebrown:
}

#score-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 darkred;
    transition: transform 150ms;
    transform: scale(1.05);
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}

.container-quiz {
    display: flex;
    color:rgba(177, 147, 93, 0.904);
    background-color: none;
    margin-top: 229px;
    margin-left: -392px;
}

#quiz {
    margin: -60px 16px 0px -100px;
}

#progressText {
    font-family: serif;
    font-size: 25px;
    margin-left: 39px;
    margin-top: 67px;
}

#progressBar {
    width: 32px;
    height: 20px;
    border: 2px solid green;
    margin-top: 30px;
    margin-left: -12px;
    /* font-family: serif; */
    /* font-size: 5px; */
    background-color: yellow;
    border-radius: 9px;
    overflow: hidden;
}

#progressBar {
    width: 200px;

}


#progressBarFull {
    height: 100%;
    background-color: ;
}

/* HUD 8 */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-item {
    font-family: serif;
    font-size: 25px;
}

.hud-prefix {
    font-family: serif;
    font-size: 25px;
    margin-left: 208px;
    margin-top: 67px;
}

.hud-main-text {
    font-family: serif;
    font-size: 50px;
    text-align: center;
    width: 38px;
    margin-right: 302px;
}

#score {
    font-family: serif;
    font-size: 50px;
    margin: 8px 0px 0px 215px;
}

#question {
    font-family: sans-serif;
    font-size: 25px;
    color: brown;
    margin: 28px 0px 16px -11px;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    padding: 5px 0 5px 5px;
    width: fit-content;
    color: darksalmon;
    background-color: rgba(228, 231, 46, 0.904);
    border-radius: 4px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 darksalmon;
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 10px;
    padding: 0px 6px 8px 2px;
}

.choice-text {
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    width: 71px
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: rgba(233, 71, 71, 0.377);
}


@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}